@model HomeworkItem

<h1>Upload homework</h1>


<h3>Student: @User.Identity.Name</h3>

@using(Html.BeginForm())
{
   // @Html.HiddenFor(t => t.UserId);
   // @Html.DropDownListFor(model => model.UserId, ViewBag.Users as SelectList, "Select film...");
    @Html.TextBoxFor(t => t.Title, new{
        placeholder = "Input task's title"
    });
    <br/>
    @Html.TextAreaFor(t => t.Content, new{
        placeholder = "Input task's content"
    });
    <br />
    @Html.TextBoxFor(t => t.Sent, new { @type="date", @Value = @DateTime.Now.ToShortDateString() } )
    <br />
    <input type="submit" id="sendButton" name="sendButton" value="Send" />
}

@section Styles
{
    <link href="~/css/add.css" type="text/css" rel="stylesheet" />
}